# Importing Datasets and Packages.

In [2]:
import ydata_profiling

import pandas
import numpy

In [3]:
base_file_path = "../data/processed/"

In [4]:
dataFrame = pandas.read_csv(base_file_path + "cleaned.csv")

In [5]:
print(dataFrame.shape)

(131337, 17)

In [6]:
dataFrame.head(5)

,ID,Target,age_band,gender,car_model,car_segment,age_of_vehicle_years,sched_serv_warr,non_sched_serv_warr,sched_serv_paid,non_sched_serv_paid,total_paid_services,total_services,mth_since_last_serv,annualised_mileage,num_dealers_visited,num_serv_dealer_purchased
0,1,0,3. 35 to 44,Male,model_1,LCV,9,2,10,3,7,5,6,9,8,10,4
1,2,0,Unspecified,Unspecified,model_2,Small/Medium,6,10,3,10,4,9,10,6,10,7,10
2,3,0,Unspecified,Male,model_3,Large/SUV,9,10,9,10,9,10,10,7,10,6,10
3,5,0,Unspecified,Unspecified,model_3,Large/SUV,5,8,5,8,4,5,6,4,10,9,7
4,6,0,Unspecified,Female,model_2,Small/Medium,8,9,4,10,7,9,8,5,4,4,9

# Exploratory Data Analysis.

In [7]:
numeric_columns = ["age_of_vehicle_years",
				   "sched_serv_warr", "non_sched_serv_warr", "sched_serv_paid", "non_sched_serv_paid",
				   "total_paid_services", "total_services", "mth_since_last_serv", "annualised_mileage",
				   "num_dealers_visited", "num_serv_dealer_purchased"]

categorical_columns= ["age_band", "gender", "car_model", "car_segment"]

In [8]:

for col in numeric_columns:
  print(col, "Information : ")
  print("Mean : ", dataFrame[col].mean())
  print("Median : ", dataFrame[col].median())
  print("Mode : ", dataFrame[col].mode())

  print("Minimum : ", dataFrame[col].min())
  print("Maximum : ", dataFrame[col].max())

  print("Quantiles : ", numpy.quantile(dataFrame[col], [0, 0.25, 0.5, 0.75, 1]))

  print("Variance : ", numpy.var(dataFrame[col], ddof=1))
  print("Standard Deviation : ", numpy.std(dataFrame[col], ddof=1))

  print("Skew : ", dataFrame[col].skew())
  print("Kurtosis : ", dataFrame[col].kurtosis())
  print()

age_of_vehicle_years Information :
Mean :  5.493021768427785
Median :  5.0
Mode :  0    3
Name: age_of_vehicle_years, dtype: int64
Minimum :  1
Maximum :  10
Quantiles :  [ 1.  3.  5.  8. 10.]
Variance :  8.084347432925963
Standard Deviation :  2.843298688658292
Skew :  0.023905510354807907
Kurtosis :  -1.2106765462379157

sched_serv_warr Information :
Mean :  5.452500057105005
Median :  5.0
Mode :  0    2
Name: sched_serv_warr, dtype: int64
Minimum :  1
Maximum :  10
Quantiles :  [ 1.  3.  5.  8. 10.]
Variance :  8.319348248814107
Standard Deviation :  2.884328041123982
Skew :  0.021495475716604043
Kurtosis :  -1.2380513607898704

non_sched_serv_warr Information :
Mean :  5.472517264746416
Median :  5.0
Mode :  0    4
Name: non_sched_serv_warr, dtype: int64
Minimum :  1
Maximum :  10
Quantiles :  [ 1.  3.  5.  8. 10.]
Variance :  8.240718851397197
Standard Deviation :  2.8706652280259357
Skew :  0.01539623629160271
Kurtosis :  -1.2211427777706096

sched_serv_paid Information :
Mean :  5.452286865087523
Median :  5.0
Mode :  0    2
Name: sched_serv_paid, dtype: int64
Minimum :  1
Maximum :  10
Quantiles :  [ 1.  3.  5.  8. 10.]
Variance :  8.332043427849722
Standard Deviation :  2.8865279191183517
Skew :  0.020868171688542474
Kurtosis :  -1.2384537885007567

non_sched_serv_paid Information :
Mean :  5.497049574758065
Median :  5.0
Mode :  0    2
Name: non_sched_serv_paid, dtype: int64
Minimum :  1
Maximum :  10
Quantiles :  [ 1.  3.  5.  8. 10.]
Variance :  8.286906154521372
Standard Deviation :  2.8786986911660923
Skew :  0.004242712387480926
Kurtosis :  -1.2305546797189093

total_paid_services Information :
Mean :  5.481692135498755
Median :  5.0
Mode :  0    2
Name: total_paid_services, dtype: int64
Minimum :  1
Maximum :  10
Quantiles :  [ 1.  3.  5.  8. 10.]
Variance :  8.296752061428755
Standard Deviation :  2.880408315053398
Skew :  0.010846104045098953
Kurtosis :  -1.2320160830840523

total_services Information :
Mean :  5.454966993307293
Median :  5.0
Mode :  0    3
Name: total_services, dtype: int64
Minimum :  1
Maximum :  10
Quantiles :  [ 1.  3.  5.  8. 10.]
Variance :  8.27115111075346
Standard Deviation :  2.8759609021600867
Skew :  0.027122432687042945
Kurtosis :  -1.2303593392780892

mth_since_last_serv Information :
Mean :  5.469806680524147
Median :  5.0
Mode :  0    3
Name: mth_since_last_serv, dtype: int64
Minimum :  1
Maximum :  10
Quantiles :  [ 1.  3.  5.  8. 10.]
Variance :  8.178203374486953
Standard Deviation :  2.8597558242771277
Skew :  0.0197937829262387
Kurtosis :  -1.2111996775603482

annualised_mileage Information :
Mean :  5.50283621523257
Median :  5.0
Mode :  0    5
Name: annualised_mileage, dtype: int64
Minimum :  1
Maximum :  10
Quantiles :  [ 1.  3.  5.  8. 10.]
Variance :  8.150432429111788
Standard Deviation :  2.8548962203750574
Skew :  0.0006646293974194358
Kurtosis :  -1.2048963573577103

num_dealers_visited Information :
Mean :  5.485438223805934
Median :  5.0
Mode :  0    2
Name: num_dealers_visited, dtype: int64
Minimum :  1
Maximum :  10
Quantiles :  [ 1.  3.  5.  8. 10.]
Variance :  8.275814708861464
Standard Deviation :  2.8767715774564833
Skew :  0.005517997890027651
Kurtosis :  -1.228969940135695

num_serv_dealer_purchased Information :
Mean :  5.480778455423834
Median :  5.0
Mode :  0    2
Name: num_serv_dealer_purchased, dtype: int64
Minimum :  1
Maximum :  10
Quantiles :  [ 1.  3.  5.  8. 10.]
Variance :  8.222693893606605
Standard Deviation :  2.867524000528436
Skew :  0.010469520402739829
Kurtosis :  -1.2208016312090761

In [9]:
ydata_profiling.ProfileReport(dataFrame)

ModuleNotFoundError: No module named 'ipywidgets'

In [8]:
def cross_table(column_name: str):	
	column_dict = {}

	for i in range (dataFrame.shape[0]):
		column_value = str(dataFrame[column_name][i])
		result = dataFrame['Target'][i]

		if column_dict.get(column_value) is None:
			column_dict[column_value] = {
				'yes' : 0,
				'no' : 0
			}

		if result == 1:
			column_dict[column_value]['yes'] = column_dict[column_value]['yes'] + 1
		else:
			column_dict[column_value]['no'] = column_dict[column_value]['no'] + 1

	return (column_dict)

In [19]:
for col in categorical_columns:
	column_dict = cross_table(col)
	print(col, ": \tyes\tno")
	for value in column_dict:
		print(value, "\t", column_dict[value]['yes'], "\t", column_dict[value]['no'])
	print()

age_band : 	yes	no
3. 35 to 44 	 46 	 3787
Unspecified 	 3292 	 109083
1. <25 	 4 	 963
4. 45 to 54 	 57 	 4001
2. 25 to 34 	 33 	 3515
7. 75+ 	 12 	 1007
5. 55 to 64 	 56 	 3341
6. 65 to 74 	 21 	 2119

gender : 	yes	no
Male 	 957 	 35115
Unspecified 	 2177 	 67131
Female 	 387 	 25570

car_model : 	yes	no
model_1 	 418 	 14913
model_2 	 817 	 33674
model_3 	 667 	 16407
model_5 	 582 	 24092
model_6 	 58 	 3013
model_4 	 318 	 14837
model_7 	 296 	 7871
model_8 	 218 	 6225
model_9 	 27 	 967
model_10 	 45 	 3170
model_11 	 9 	 603
model_13 	 39 	 675
model_12 	 6 	 608
model_14 	 0 	 78
model_15 	 10 	 324
model_16 	 4 	 110
model_17 	 2 	 151
model_18 	 5 	 96
model_19 	 0 	 2

car_segment : 	yes	no
LCV 	 745 	 23861
Small/Medium 	 1224 	 53329
Large/SUV 	 1551 	 50569
Other 	 1 	 57

In [10]:
for col in numeric_columns:
	column_dict = cross_table(col)
	print(col, ": \tyes\tno")
	for value in column_dict:
		print(value, "\t\t\t", column_dict[value]['yes'], "\t", column_dict[value]['no'])
	print()

age_of_vehicle_years : 	yes	no
9 			 9 	 12831
6 			 231 	 12883
5 			 471 	 12967
8 			 36 	 12798
7 			 82 	 13145
1 			 427 	 11466
3 			 865 	 12960
4 			 671 	 12866
10 			 1 	 12995
2 			 728 	 12905

sched_serv_warr : 	yes	no
2 			 1351 	 12437
10 			 2 	 12905
8 			 2 	 12936
9 			 0 	 13119
4 			 401 	 12728
1 			 813 	 12671
3 			 801 	 12504
7 			 1 	 12835
5 			 123 	 12736
6 			 27 	 12945

non_sched_serv_warr : 	yes	no
10 			 26 	 13017
3 			 584 	 12626
9 			 55 	 12818
5 			 634 	 12677
4 			 670 	 12657
8 			 128 	 12855
1 			 329 	 12917
6 			 309 	 12765
2 			 550 	 12746
7 			 236 	 12738

sched_serv_paid : 	yes	no
3 			 696 	 12577
10 			 6 	 12951
8 			 7 	 12903
5 			 187 	 12724
2 			 1107 	 12611
6 			 14 	 12823
1 			 1095 	 12492
4 			 391 	 12731
9 			 6 	 13082
7 			 12 	 12922

non_sched_serv_paid : 	yes	no
7 			 302 	 12619
4 			 313 	 12823
9 			 270 	 12953
3 			 435 	 12760
1 			 481 	 12664
2 			 456 	 12829
6 			 298 	 12812
5 			 341 	 12679
10 			 317 	 12929
8 			 308 	 12748

total_paid_services : 	yes	no
5 			 276 	 12694
9 			 150 	 12966
10 			 198 	 12983
6 			 239 	 12842
8 			 150 	 12814
1 			 642 	 12610
2 			 688 	 12763
7 			 224 	 12726
3 			 604 	 12641
4 			 350 	 12777

total_services : 	yes	no
6 			 50 	 13039
10 			 3 	 12994
8 			 15 	 12810
4 			 415 	 12790
2 			 1233 	 12393
1 			 485 	 12716
3 			 1136 	 12519
5 			 160 	 12824
9 			 7 	 12939
7 			 17 	 12792

mth_since_last_serv : 	yes	no
9 			 20 	 12886
6 			 108 	 13044
7 			 34 	 12866
4 			 719 	 12829
5 			 371 	 12971
8 			 1 	 12915
1 			 550 	 12731
3 			 872 	 13119
10 			 0 	 12867
2 			 846 	 11588

annualised_mileage : 	yes	no
8 			 133 	 12906
10 			 7 	 13011
4 			 548 	 12911
5 			 535 	 12939
6 			 513 	 12859
1 			 330 	 12654
7 			 298 	 12958
3 			 603 	 12549
9 			 77 	 12837
2 			 477 	 12192

num_dealers_visited : 	yes	no
10 			 242 	 12843
7 			 332 	 12633
6 			 269 	 12901
9 			 255 	 12783
4 			 223 	 12759
5 			 273 	 12791
2 			 796 	 12562
1 			 462 	 12803
3 			 377 	 12830
8 			 292 	 12911

num_serv_dealer_purchased : 	yes	no
4 			 332 	 12800
10 			 170 	 12834
7 			 300 	 12756
9 			 184 	 12715
8 			 238 	 12834
3 			 587 	 12654
1 			 360 	 12714
6 			 344 	 12903
2 			 602 	 12777
5 			 404 	 12829